:root {
  font-family: Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(240, 240, 240);
  background-color: #242424;
  background: linear-gradient(90deg,#242424 0%, #323832 20%, #323832 80%, #242424 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#attacker-inputs h3 {
  color: #ca5252ff;
}

#defender-inputs h3 {
  color: #6d60faff;
}

#inputs-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#inputs-wrapper div {
  padding: 0 1rem;
}

.input-line {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

input {
  width: 60px;
}

.individual-input-line {
  margin-top: .7rem;

  input {
    appearance: textfield;
  }
}

#roll-btn {
  margin-top: 1rem;
  padding: .1rem 2rem;
  font-size: large;
}

#chart {
  margin-top: 2rem;
}
