:root {
  font-family: Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(240, 240, 240);
  background-color: #242424;
  background: linear-gradient(90deg,#242424 0%, #323832 20%, #323832 80%, #242424 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1;
}

h1 span:nth-child(3) {
  font-size: 14px;
}

h1 span:nth-child(5) {
  font-size: 26px;
}

h3 {
  text-decoration: underline;
}

#attacker-inputs h3 {
  color: #ca5252ff;
}

#defender-inputs h3 {
  color: #6d60faff;
}

#inputs-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#inputs-wrapper div {
  padding: 0 1rem;
}

.input-line {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

input {
  width: 34px;
}

.individual-input-line {
  margin-top: .7rem;
}

#num-simulations {
  appearance: textfield;
  width: 66px;
}

input, select {
  color: black;
  background-color: #fdfdfd;
  border: 1px solid #788878;
  border-radius: 4px;
  font-size: 12px;
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  width: 40px;
  padding: 1px 2px;
}

.target-helper {
  font-size: 10px;
}

selectedcontent .target-helper {
  display: none;
}

#roll-btn {
  margin-top: 1rem;
  padding: .1rem 2rem;
  font-size: large;
}

#chart {
  margin-top: 2rem;
}

#legal-footer {
  font-size: 10px;
  color: #616161;
  margin-top: 2rem;
  line-height: 1.0;
}

#legal-footer a {
  color: #eee;
}
